langgraph
langgraph-checkpoint-postgres
langchain
openai
langchain-openai
langchain-groq
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
python-dotenv
tavily-python
requests
streamlit
tavily
fast-flights
google-search-results
reportlab
itsdangerous